{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p class="mt-5">
        Si un compte existe à cet e-mail, vous recevrez un e-mail pour changer votre mot de passe.
         {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, vérifiez vos spams ou réessayez. <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}