<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include '_partials/header.html.twig' %}


        <main class="container">
        
        {% include '_partials/flashes.html.twig' %}

        {% block body %}{% endblock %}
        </main>
        
        {% include '_partials/footer.html.twig' %}
    </body>
</html>