{% extends 'base.html.twig' %}
{% block title %}Page introuvable{% endblock %}
{% block body %}
    <div class="container text-center mt-5">
        <h1>404</h1>
        <p>La page que vous cherchez n'existe pas.</p>
        <a href="{{ path('app_tournament') }}" class="btn btn-danger">Retour à l'accueil</a>
    </div>
{% endblock %}